body {
    font-family: Arial;
    margin: 0;
    background-color:whitesmoke;
    color: black;
}

h1, h2, h3 {
    color: darkslateblue;
}

header {
    background-color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #004080;
}

.banner {
    background-color: #cce6ff;
    text-align: center;
    padding: 50px 20px;
}

.services {
    padding: 40px;
    text-align: center;
}

.services p {
    color: #555;
}

.service-card {
    display: inline-block;
    width: 250px;
    padding: 20px;
    margin: 15px;
    border: 2px solid #004080;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
}

#contact {
    padding: 40px;
    text-align: center;
    background-color: #e6f2ff;
}

input[type="text"] {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0073e6;
}

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
